---
layout: layouts/base.ejs
title: 登山で頂きメシ！ Mountain × Best food
stylesheet: /css/special/special_itadakimeshi.css
script: /js/special/itadakimeshi.js
---
<div class="itadakimeshi">
  <div class="l-mainVisual">
    <h1 class="l-mainVisual__title">
      <img src="/img/special/itadakimeshi/img_kv-1.jpg" alt="登山で頂きメシ！ Mountain × Best food 「リアルに自然を感じ、体験するアウトドア」がブームのこの時代。日本各地の「低山」を登り、山頂での「ご褒美メシ」を紹介。登山の魅力を発信します！">
    </h1>
  </div>
  <div class="l-content">
    <div class="l-main">

 <section class="m-introduction">
  <div class="m-introduction__image"><img alt="" src="/img/special/itadakimeshi/img_main-1.jpg" /></div>
  <span class="m-introduction__date">2023年5月29日初回放送</span>

  <div class="m-introduction__head"><span class="m-introduction__index">#5</span>

    <h2 class="m-introduction__title">高尾山 &times; 平山祐介</h2>
  </div>
  <span class="m-introduction__subheading">Mt. Takao &times; Yusuke HIRAYAMA</span>

  <p class="m-introduction__text">東京都心からでも気軽にアクセスできる&ldquo;高尾山&rdquo;<br />
    実はミシュランガイドにも選出され、年間登山者数は世界一！<br />
    知られざる歴史を学び、美しい自然を満喫できる低山登山となりました！</p>
</section>

<section class="m-card-list">
  <div class="c-card">
    <h2 class="c-heading c-heading--center"><span>登山ルート</span></h2>

    <div class="c-card__image"><button aria-label="モーダルを開く" class="c-modal-button" data-micromodal-trigger="modal-1" role="button"><img alt="" src="/img/special/itadakimeshi/5/route.png" /></button></div>

    <div aria-hidden="true" class="modal micromodal-slide" id="modal-1">
      <div class="modal__overlay" data-micromodal-close="" tabindex="-1">
        <div aria-labelledby="modal-1-title" aria-modal="true" class="modal__container" role="dialog"><button aria-label="モーダルを閉じる" class="modal__close" data-micromodal-close=""></button>

          <div class="modal__content" id="modal-1-content"><img alt="" src="/img/special/itadakimeshi/5/route.png" /></div>
        </div>
      </div>
    </div>

    <div class="c-card__content">
      <div class="c-list-definition">
        <p class="c-list-definition__description">難易度や景色など、異なる７つの登山ルートが存在。今回、平山さんは「森と水」がテーマの6号路を歩きました。</p>

        <dl class="c-list-definition__item">
          <dt class="c-list-definition__term">所要時間</dt>
          <dd class="c-list-definition__description">約1時間半</dd>
        </dl>

        <dl class="c-list-definition__item">
          <dt class="c-list-definition__term">距離</dt>
          <dd class="c-list-definition__description">約3.3km</dd>
        </dl>

        <dl class="c-list-definition__item -route">
          <dt class="c-list-definition__term">登山口までのアクセス</dt>
          <dd class="c-list-definition__description">
            <div class="c-list-definition__description__meta"><img alt="クルマ" src="/img/special/itadakimeshi/icon_train.png"> 東京都内から約1時間</div>
            <ul class="c-list-bullet">
              <li class="c-list-bullet__item"><span class="c-list-bullet__bullet">・</span>新宿駅（京王線）～高尾山口駅（電車約50分）</li>
            </ul>
          </dd></dl>
      </div>
    </div>
  </div>

  <div class="c-card">
    <h2 class="c-heading c-heading--center"><span>今回の頂きメシ</span></h2>

    <div class="c-card__image"><button aria-label="モーダルを開く" class="c-modal-button" data-micromodal-trigger="modal-2" role="button"><img alt="" src="/img/special/itadakimeshi/5/itadaki-meshi1.jpg" /></button></div>

    <div aria-hidden="true" class="modal micromodal-slide" id="modal-2">
      <div class="modal__overlay" data-micromodal-close="" tabindex="-1">
        <div aria-labelledby="modal-2-title" aria-modal="true" class="modal__container" role="dialog"><button aria-label="モーダルを閉じる" class="modal__close" data-micromodal-close=""></button>

          <div class="modal__content" id="modal-2-content"><img alt="" src="/img/special/itadakimeshi/5/itadaki-meshi1.jpg" /></div>
        </div>
      </div>
    </div>

    <div class="c-card__content">
      <dl class="c-card__dl">
        <dt class="c-card__dt">とろろそば<br />
          （しめじ・卵トッピング）</dt>
        <dd class="c-card__dd">高尾山頂に大正元年創業の「曙亭」で頂いたのは、名物・とろろそば<br />
          製麺所から取り寄せる&ldquo;平太のそば&rdquo;は食べ応え抜群！<br />
          好物のしめじと卵もトッピングしちゃいました！</dd>
      </dl>
    </div>
  </div>
</section>

<section class="m-item-list">
  <h2 class="c-heading"><span>登山アイテム紹介</span></h2>

  <div class="m-item-list__content">
    <div class="c-card-item">
      <div class="c-card-item__image"><button aria-label="モーダルを開く" class="c-modal-button" data-micromodal-trigger="modal-3" role="button"><img alt="" src="/img/special/itadakimeshi/5/item-1.jpg" /></button></div>

      <div aria-hidden="true" class="modal micromodal-slide" id="modal-3">
        <div class="modal__overlay" data-micromodal-close="" tabindex="-1">
          <div aria-labelledby="modal-3-title" aria-modal="true" class="modal__container" role="dialog"><button aria-label="モーダルを閉じる" class="modal__close" data-micromodal-close=""></button>

            <div class="modal__content" id="modal-3-content"><img alt="" src="/img/special/itadakimeshi/5/item-1.jpg" /></div>
          </div>
        </div>
      </div>

      <div class="c-card-item__content">
        <div class="c-card-item__head">
          <div class="c-card-item__headContent">
            <h3 class="c-card-item__title">エスプレッソメーカー ／ BIALETTI</h3>
          </div>
        </div>

        <p class="c-card-item__text">若手時代に訪れたイタリアで家庭に１つはエスプレッソメーカーが置いてあることに衝撃を受け、帰国してすぐに購入して以来、20年以上愛用しているそう。</p>
      </div>
    </div>

    <div class="c-card-item">
      <div class="c-card-item__image"><button aria-label="モーダルを開く" class="c-modal-button" data-micromodal-trigger="modal-4" role="button"><img alt="" src="/img/special/itadakimeshi/5/item-2.jpg" /></button></div>

      <div aria-hidden="true" class="modal micromodal-slide" id="modal-4">
        <div class="modal__overlay" data-micromodal-close="" tabindex="-1">
          <div aria-labelledby="modal-4-title" aria-modal="true" class="modal__container" role="dialog"><button aria-label="モーダルを閉じる" class="modal__close" data-micromodal-close=""></button>

            <div class="modal__content" id="modal-4-content"><img alt="" src="/img/special/itadakimeshi/5/item-2.jpg" /></div>
          </div>
        </div>
      </div>

      <div class="c-card-item__content">
        <div class="c-card-item__head">
          <div class="c-card-item__headContent">
            <h3 class="c-card-item__title">中綿ダウンジャケット ／ Cape HEIGHTS</h3>
          </div>
        </div>

        <p class="c-card-item__text">肩の内側に紐が付いており、脱ぐと背負えるダウンジャケット！アウトドアにぴったりです！</p>
      </div>
    </div>
  </div>
</section>

<div class="c-card-story">
  <h3 class="c-heading"><span>撮影ウラ話</span></h3>

  <div class="c-card-story__content">
    <div class="c-card-story__image"><img alt="" src="/img/special/itadakimeshi/5/story-1.jpg" /></div>

    <div class="c-card-story__description">
      <p class="c-card-story__text">放送で使っていた高尾山頂の晴れた日の景色は、実はスタッフが下見の際に撮影したもの！<br />
        全く表情が違う景色に自然の面白さを感じました！</p>
    </div>
  </div>

  <div class="c-card-story__content">
    <div class="c-card-story__image"><img alt="" src="/img/special/itadakimeshi/5/story-2.jpg" /></div>

    <div class="c-card-story__description">
      <p class="c-card-story__text">高尾山のケーブルカーは日本一の急勾配！四季折々の景色が楽しめます。<br />
        平山さんも下山はケーブルカーに乗ることができ、大満足でした！</p>
    </div>
  </div>
</div>
      <div class="social">
        <div class="social-head">[ このページをシェアする ]</div>
        <div class="social-button clearfix">
          <div class="fb"><button type="button" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(window.location.href), 'facebook', 'width=626,height=436'); return false;"><img class="Span" src="/img/sp/common/fb.png" height="55" width="55" alt="FaceBook"></button></div>
          <div class="tw"><button type="button" onclick="window.open('http://twitter.com/share?url='+encodeURIComponent(window.location.href)+'&amp;text='+encodeURIComponent(document.title), 'twitter', 'width=610,height=292'); return false;"><img class="Span" src="/img/sp/common/tw.png" height="55" width="55" alt="Twitter"></button></div>
          <div class="line"><button type="button" onclick="location.href='http://line.me/R/msg/text/?'+encodeURIComponent(document.title)+'%0A'+encodeURIComponent(document.title);return false;"><img class="Span" src="/img/sp/common/line.png" height="55" width="55" alt="LINE"></button></div>
        </div>
      </div>
      <div class="m-pager">
        <div class="c-pager">
          <div class="c-pager__content">
            <div class="c-pager__item">
              <a href="#TODO" class="c-pager__link">
                <span class="c-pager__arrow c-pager__arrow--prev">前へ</span>
                <span class="c-pager__text">#1  筑波山 × 平山祐介</span>
              </a>
            </div>
            <div class="c-pager__item">
              <a href="#TODO" class="c-pager__link c-pager__link--next">
                <span class="c-pager__text">#2  吉野山 × 三船美佳</span>
                <span class="c-pager__arrow c-pager__arrow--next">次へ</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-aside">
      <div class="m-backnumber js-navigation-current js-disclosure">
        <div class="m-backnumber__head">
          <h2 class="c-heading">
            <span>バックナンバー</span>
          </h2>
        </div>
        <ol id="id_backnumber" class="m-backnumber__list js-disclosure__content">
          <li class="m-backnumber__item">
            <a href="/special/itadakimeshi/4" class="m-backnumber__link">
              <span class="m-backnumber__index">#20</span>
              <span class="m-backnumber__text">大和葛城山 × 安涼奈</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="/special/itadakimeshi/4" class="m-backnumber__link">
              <span class="m-backnumber__index">#19</span>
              <span class="m-backnumber__text">大和葛城山 × 安涼奈</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="/special/itadakimeshi/4" class="m-backnumber__link">
              <span class="m-backnumber__index">#18</span>
              <span class="m-backnumber__text">大和葛城山 × 安涼奈</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="/special/itadakimeshi/4" class="m-backnumber__link">
              <span class="m-backnumber__index">#17</span>
              <span class="m-backnumber__text">大和葛城山 × 安涼奈</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="/special/itadakimeshi/4" class="m-backnumber__link">
              <span class="m-backnumber__index">#16</span>
              <span class="m-backnumber__text">大和葛城山 × 安涼奈</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="/special/itadakimeshi/4" class="m-backnumber__link">
              <span class="m-backnumber__index">#15</span>
              <span class="m-backnumber__text">大和葛城山 × 安涼奈</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="/special/itadakimeshi/4" class="m-backnumber__link">
              <span class="m-backnumber__index">#14</span>
              <span class="m-backnumber__text">大和葛城山 × 安涼奈</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="/special/itadakimeshi/4" class="m-backnumber__link">
              <span class="m-backnumber__index">#13</span>
              <span class="m-backnumber__text">大和葛城山 × 安涼奈</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="/special/itadakimeshi/4" class="m-backnumber__link">
              <span class="m-backnumber__index">#12</span>
              <span class="m-backnumber__text">大和葛城山 × 安涼奈</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="/special/itadakimeshi/4" class="m-backnumber__link">
              <span class="m-backnumber__index">#11</span>
              <span class="m-backnumber__text">大和葛城山 × 安涼奈</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="/special/itadakimeshi/4" class="m-backnumber__link">
              <span class="m-backnumber__index">#10</span>
              <span class="m-backnumber__text">大和葛城山 × 安涼奈</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="/special/itadakimeshi/4" class="m-backnumber__link">
              <span class="m-backnumber__index">#9</span>
              <span class="m-backnumber__text">大和葛城山 × 安涼奈</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="/special/itadakimeshi/4" class="m-backnumber__link">
              <span class="m-backnumber__index">#8</span>
              <span class="m-backnumber__text">大和葛城山 × 安涼奈</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="/special/itadakimeshi/3" class="m-backnumber__link">
              <span class="m-backnumber__index">#7</span>
              <span class="m-backnumber__text">日の出山 × 戸田れい</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="/special/itadakimeshi/2" class="m-backnumber__link">
              <span class="m-backnumber__index">#6</span>
              <span class="m-backnumber__text">吉野山 × 三船美佳</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="/special/itadakimeshi/" class="m-backnumber__link">
              <span class="m-backnumber__index">#5</span>
              <span class="m-backnumber__text">筑波山 × 平山祐介</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="#TODO" class="m-backnumber__link">
              <span class="m-backnumber__index">#4</span>
              <span class="m-backnumber__text">大和葛城山 × 安涼奈</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="#TODO" class="m-backnumber__link">
              <span class="m-backnumber__index">#3</span>
              <span class="m-backnumber__text">日の出山 × 戸田れい</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="#TODO" class="m-backnumber__link">
              <span class="m-backnumber__index">#2</span>
              <span class="m-backnumber__text">吉野山 × 三船美佳</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="#TODO" class="m-backnumber__link">
              <span class="m-backnumber__index">#1</span>
              <span class="m-backnumber__text">筑波山 × 平山祐介</span>
            </a>
          </li>
        </ol>
        <button
                type="button"
                class="m-backnumber__toggle js-disclosure__button"
                aria-expanded="true"
                aria-controls="id_backnumber"
                data-label-open="もっと見る"
                data-label-close="とじる"
                ><span>もっと見る</span>
        </button>
      </div>
      <div class="m-banner-list">
        <ul class="c-list-banner">
          <li class="c-list-banner__item">
            <a href="https://www.instagram.com/itadakimeshi_skya/" target="_blank" class="c-list-banner__link">
              <img src="/img/special/itadakimeshi/bnr_side-1.jpg" alt="登山で頂きメシ！ 公式Instagram">
            </a>
          </li>
          <li class="c-list-banner__item">
            <a href="https://www.jma-sangaku.or.jp/" target="_blank" class="c-list-banner__link">
              <img src="/img/special/itadakimeshi/bnr_jmsca.jpg" alt="日本山岳・スポーツクライミング協会">
            </a>
          </li>
          <li class="c-list-banner__item">
            <a href="https://merrell.jp/" target="_blank" class="c-list-banner__link">
              <img src="/img/special/itadakimeshi/bnr_merrell.jpg" alt="MERRELL">
            </a>
          </li>
          <li class="c-list-banner__item">
            <a href="https://sky-a.asahi.co.jp/category/outdoor/31000020/" class="c-list-banner__link">
              <img src="/img/special/itadakimeshi/bnr_side-4.jpg" alt="登山で頂きメシ！ Mountain × Best food">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="l-bottomBanner">
  <a href="https://promo.skyperfectv.co.jp/guide/?skya=howto" class="l-bottomBanner__link">
    <img src="/img/special/itadakimeshi/bnr_bottom-1.jpg" alt="スカイA見るならスカパー！">
  </a>
</div>