---
layout: layouts/base.ejs
title: ああああ
stylesheet: special/special_itadakimeshi.css
---
<div class="itadakimeshi">
  <div class="l-mainVisual">
    <span class="l-mainVisual__icon"><img src="/img/special/itadakimeshi/icon_skya.png" alt="スカイA" width="174" height="50"></span>
    <div class="l-mainVisual__image">
      <h1 class="l-mainVisual__title"><img src="/img/special/itadakimeshi/hdg_kv-1.png" alt="登山で頂きメシ！ Mountain × Best food" width="1183" height="613"></h1>
    </div>
    <p class="l-mainVisual__text">
「リアルに自然を感じ、体験するアウトドア」がブームのこの時代。<br>
日本各地の「低山」を登り、山頂での「ご褒美メシ」を紹介。登山の魅力を発信します！
    </p>
  </div>
  <div class="l-content">
    <div class="l-main">
      <section class="m-introduction">
        <div class="m-introduction__image">
          <img src="/img/special/itadakimeshi/img_main-1.jpg" alt="">
        </div>
        <span class="m-introduction__date">2023年6月1日掲載</span>
        <div class="m-introduction__head">
          <span class="m-introduction__index">#1</span>
          <h2 class="m-introduction__title">筑波山 × 平山祐介</h2>
        </div>
        <span class="m-introduction__subheading">Mt. Tsukuba × Yusuke HIRAYAMA</span>
        <p class="m-introduction__text">
          日本百名山に数えられる日本を代表する低山・筑波山。<br>
日本百景にも選ばれる、女体山 山頂からの景色と地の食材を使った頂きメシを堪能しました！
        </p>
      </section>
      <section class="c-card-list">
        <div class="c-card">
          <h2 class="c-heading">
            <span>バックナンバー</span>
          </h2>
          <div class="c-card__image">
             <img src="/img/special/itadakimeshi/img_main-1.jpg" alt="">
          </div>
        </div>
      </section>
      <div class="c-card-item">
          <div class="c-card-item__image">
             <img src="/img/special/itadakimeshi/img_item-1.png" alt="">
          </div>
          <div class="c-card-item__content">
            <div class="c-card-item__head">
              <div class="c-card-item__headContent">
                <h3 class="c-card-item__title">モッズコート</h3>
                <span class="c-card-item__subheading">M-65／ デンハム</span>
              </div>
              <span class="c-card-item__icon">
                <img src="/img/special/itadakimeshi/icon_item-1.png" alt="" width="84" height="48">
              </span>
            </div>
            <p class="c-card-item__text">
              普段から愛用しているというモッズコート、<br>デンハムのM-65は「ダントツ撥水」機能を搭載。
            </p>
          </div>
      </div>
    </div>
    <div class="l-aside">
      <div class="m-backnumber">
        <h2 class="c-heading">
          <span>バックナンバー</span>
        </h2>
        <ol class="m-backnumber__list">
          <li class="m-backnumber__item">
            <a href="#TODO" class="m-backnumber__link">
              <span class="m-backnumber__index">#4</span>
              <span class="m-backnumber__text">大和葛城山 × 安涼奈</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="#TODO" class="m-backnumber__link">
              <span class="m-backnumber__index">#3</span>
              <span class="m-backnumber__text">日の出山 × 戸田れい</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="#TODO" class="m-backnumber__link">
              <span class="m-backnumber__index">#2</span>
              <span class="m-backnumber__text">吉野山 × 三船美佳</span>
            </a>
          </li>
          <li class="m-backnumber__item">
            <a href="#TODO" class="m-backnumber__link">
              <span class="m-backnumber__index">#1</span>
              <span class="m-backnumber__text">筑波山 × 平山祐介</span>
            </a>
          </li>
        </ol>
        <button class="m-backnumber__toggle">
          もっと見る
        </button>
      </div>
    </div>
  </div>
</div>