@use '../foundation/variable' as var;

:root {
  --COLOR_BASE_WHITE: #{var.$TEXT_BASE_WHITE};
  --COLOR_BASE_YELLOW: #{var.$BASE_YELLOW};
  --COLOR_BASE_GRAY: #{var.$BASE_GRAY};
  --COLOR_BASE_GRAY_DARK: #{var.$BASE_GRAY_DARK};
  --COLOR_TEXT_WHITE: #{var.$TEXT_BASE_WHITE};
  --COLOR_TEXT_GRAY: #{var.$TEXT_GRAY};
  --COLOR_TEXT_BLUE: #{var.$TEXT_BLUE};
  --COLOR_TEXT_BLUE_DARK: #{var.$TEXT_BLUE_DARK};
  --COLOR_BACKGROUND_BREADCRUMB: #{var.$BACKGROUND_BREADCRUMB};
  --COLOR_BACKGROUND_WHITE: #{var.$BACKGROUND_WHITE};
  --COLOR_BACKGROUND_ITADAKIMESHI: #{var.$BACLGROUND_ITADAKIMESHI};
  --COLOR_BACKGROUND_BAIGE_DARK: #{var.$BACKGROUND_BAIGE_DARK};
  --COLOR_BACKGROUND_BAIGE_LIGHT: #{var.$BACKGROUND_BAIGE_LIGHT};
  --COLOR_BORDER_ITADAKIMESHI: #{var.$BORDER_ITADAKIMESHI};
}

#main {
  overflow: hidden;
}
